* {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-family: Gilam;
}

body{
    padding-bottom: 200px;
    background-color: #171717;
}

@font-face {
    font-family: Gilam;
    src: url(../font/Fontfabric\ -\ Gilam\ Thin\ Italic\ DEMO.otf);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 37px;
    margin-left: 220px;
    width: 1200px;
}

.header-icon {
    width: 357px;
    height: 79px;
    margin-left: 10px;
}

.header-button {
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
}

.header-button-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.header-button-text {
    list-style-type: none;
}

.header-button-tittle {
    text-decoration: none;
    font-family: Ballet;
    color: #E4B564;
    font-size: 18px;
    font-weight: 400;
}

.main {
    color: #fff;
    margin-top: 89px;
    margin-left: 230px;
    margin-left: 230px;
}

.main-text {
    font-size: 20px;
    width: 1100px;
    margin-left: 0;
}

.main-subtittle {
    margin-top: 43px;
    font-weight: 700;
    line-height: 28px;
}

.main-grid-container {
    display: grid;
    gap: 30px;
    grid-template-columns: 380px repeat(2, 170px) 380px;
    grid-template-rows: repeat(2, 418px);
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.item1 {
    background-color: #634F2C;
}

.item2 {
    background-color: #B4A385;
    grid-column: 2/4;
}

.item3 {
    background-color: #E4B564;
}

.item4 {
    background-color: #635A4A;
    grid-column: 1/3;
}

.item5 {
    background-color: #B08C4D;
    grid-column: 3/5;
}

.tittle2{
    margin-top: 140px;
}

.main-grid-container1{
    margin-top: 90px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: 200px 30px 80px 100px 230px;
}

.item01{
    background-color: #0E0E0E;
    grid-row: 1/3;
}

.item02{
    background-color: #242424;
    grid-row: 1/4;
    grid-column: 2/3;
}

.item03{
    background-color: #1F1F1F;
    grid-column: 3/4;
}

.item04{
    background-color: #0E0E0E;
    grid-row: 2/5;
    grid-column: 3/4;
}

.item05{
    background-color: #1F1F1F;
    grid-row: 3/6;
}

.item06{
    background-color: #E4B564;
    grid-row: 4/6;
    margin-bottom: 20px;
}

.item07{
    background-color: #0A0909;
}

.footer{
    width: 100%;
    background-color: #0E0E0E;
    height: 917px;
    color: #FFFFFF;
    padding-top: 130px;
    margin-top: 150px;
    box-sizing: border-box;
}

.footer-menu{
    margin-left: 240px;
    display: flex;
}

.footer-menu-tittle{
    margin: 0;
}

.footer-menu-button{
    width: 150px;
    height: 45px;
    border: #E4B564 solid 1px;
    color: #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 770px;
}

.footer-menu-button a{
    text-decoration: none;
    color: #E4B564 ;
}

.footer-flex-menu{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    width: 1200px;
    margin-left: 225px;
    justify-content: center;
    align-items: center;
}

.footer-flex-item{
    width: 395px;
    height: 330px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    text-align: center;
}

.footer-item1{
    background-color: #634F2C;
}

.footer-item2{
    background-color: #E8D2AB;
}

.footer-item3{
    background-color: #E4B564;
}

.footer-item4{
    background-color: #635A4A;
}

.footer-item5{
    background-color: #B08C4D;
}